prep PE/.vs/prep PE/FileContentIndex/79652433-5d87-479d-9720-57701c9440f7.vsidx
prep PE/.vs/prep PE/CopilotIndices/17.14.878.3237/SemanticSymbols.db-wal
prep PE/.vs/prep PE/CopilotIndices/17.14.878.3237/SemanticSymbols.db-shm
prep PE/.vs/prep PE/CopilotIndices/17.14.878.3237/SemanticSymbols.db
prep PE/.vs/prep PE/CopilotIndices/17.14.878.3237/CodeChunks.db-wal
prep PE/.vs/prep PE/CopilotIndices/17.14.878.3237/CodeChunks.db-shm
prep PE/.vs/prep PE/CopilotIndices/17.14.878.3237/CodeChunks.db
